# Le pregunté a Chat-GPT lo siguiente:
Estoy practicando con pandas, numpy, matplotlib y Seaborn. Quiero volverme un cientrifico de datos en el futuro. La dinamica es la siguiente: Yo te proporcionaré un csv. Se me asignarán 5 niveles, siendo el primero principiante y el 5 experto. Me daras 5 ejercicios por nivel empezando por el primero, y cuando te diga 'completados' pasaremos al siguiente nivel con 5 ejercicios un poco mas difíciles. Cada ejercicio debe estar en numerales y con el codigo por debajo. Quedo entendido?

Nivel 1:
1. Carga el archivo csv en un DataFrame de pandas llamado pokemon y muestra las primeras 5 filas.
2. Muestra los nombres de todas las columnas en el DataFrame.
3. Muestra el tipo de datos (dtype) de cada columna.
4. Muestra un resumen estadístico básico del DataFrame.
5. Muestra el número de filas y columnas del DataFrame.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
pokemon = pd.read_csv('/Users/daniboy/Desktop/Data_Science_ChatGPT/Pandas/Pokemon/pokemon_data.csv')
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [6]:
pokemon.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [11]:
pokemon.loc[pokemon['Sp. Atk'] == 194]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True

In [12]:
pokemon.shape

(800, 12)


¡Excelente! Vamos al siguiente nivel.

Nivel 2:
1. Muestra los nombres de los 10 primeros Pokémon en orden alfabético.
2. Muestra los valores únicos en la columna 'Type 1'.
3. Muestra el número de Pokémon que tienen 'Type 1' igual a 'Fire'.
4. Ordena el DataFrame por la columna 'Name' en orden descendente.
5. Muestra los Pokémon cuyo nombre comienza con la letra 'P'.

In [13]:
pokemon.head(10).sort_values('Name', ascending=True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [14]:
print(pokemon['Type 1'].unique())

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

In [16]:
#pokemon.loc[pokemon['Type 1'] == 'Fire']

El metodo str aplica un metodo de cadena a cada elemento de la columna. En este caso es startswith

In [19]:
pokemon[pokemon['Name'].str.startswith('P')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
51,46,Paras,Bug,Grass,35,70,55,45,55,25,1,False
52,47,Parasect,Bug,Grass,60,95,80,60,80,30,1,False
58,53,Persian,Normal,NaN,65,70,60,65,65,115,1,False
59,54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False
62,57,Primeape,Fighting,NaN,65,105,60,60,70,95,1,False
65,60,Poliwag,Water,NaN,40,50,40,40,40,90,1,False
66,61,Poliwhirl,Water,NaN,65,65,65,50,50,90,1,False
67,62,Poliwrath,Water,Fighting,90,95,95,70,90,70,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
148,137,Porygon,Normal,NaN,65,60,70,85,75,40,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
201,186,Politoed,Water,NaN,90,75,75,90,100,70,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
250,231,Phanpy,Ground,NaN,90,60,60,40,40,40,2,False
252,233,Porygon2,Normal,NaN,85,80,90,105,95,60,2,False
266,247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False
284,261,Poochyena,Dark,NaN,35,55,35,30,30,35,3,False
302,279,Pelipper,Water,Flying,60,50,100,85,70,65,3,False
340,311,Plusle,Electric,NaN,60,50,40,85,75,95,3,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
439,394,Prinplup,Water,NaN,64,66,68,81,76,50,4,False
464,417,Pachirisu,Electric,NaN,60,45,70,45,90,95,4,False
480,432,Purugly,Normal,NaN,71,82,64,64,59,112,4,False
525,474,Porygon-Z,Normal,NaN,85,80,70,135,75,90,4,False
528,476,Probopass,Rock,Steel,60,55,145,75,150,40,4,False
541,484,Palkia,Water,Dragon,90,120,100,150,120,100,4,True
547,489,Phione,Water,NaN,80,80,80,80,80,80,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
563,504,Patrat,Normal,NaN,45,55,39,35,39,42,5,False
568,509,Purrloin,Dark,NaN,41,50,37,50,37,66,5,False
570,511,Pansage,Grass,NaN,50,53,48,53,48,64,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
574,515,Panpour,Water,NaN,50,53,48,53,48,64,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False
596,536,Palpitoad,Water,Ground,75,65,55,65,55,69,5,False
608,548,Petilil,Grass,NaN,45,35,50,70,50,30,5,False
685,624,Pawniard,Dark,Steel,45,85,70,40,40,60,5,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
742,674,Pancham,Fighting,NaN,67,82,62,46,48,43,6,False
743,675,Pangoro,Fighting,Dark,95,124,78,69,71,58,6,False
778,708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
780,710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
782,710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False

El método str es muy útil para manipular y transformar los datos en columnas de tipo de objeto (strings), tales como nombres, direcciones, ciudades, y otros. Con el método str, puedes aplicar muchas funciones de cadena diferentes, tales como startswith(), endswith(), contains(), replace(), strip(), split(), entre otras.

Nivel 3:
1. Crea una nueva columna llamada 'Total' que contenga la suma de las columnas 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def' y 'Speed'.
2. Ordena el DataFrame por la columna 'Total' en orden descendente.
3. Muestra los valores únicos en la columna 'Generation'.
4. Muestra los Pokémon cuyo 'Type 1' es igual a 'Grass' y cuyo 'Type 2' es igual a 'Poison'.
5. Muestra los Pokémon cuya 'Type 1' es igual a 'Fire' y cuyo 'Type 2' es igual a 'Flying', ordenados por la columna 'Type 1' en orden ascendente.

In [22]:
pokemon['Total'] = ((pokemon['HP'] + pokemon['Attack'] + pokemon['Defense'] + pokemon['Sp. Atk'] + pokemon['Sp. Def'] + pokemon['Speed']) )

In [24]:
pokemon.sort_values('Total',ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False,195
446,401,Kricketot,Bug,NaN,37,25,41,25,41,25,4,False,194
322,298,Azurill,Normal,Fairy,50,20,40,20,40,20,3,False,190
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False,180

In [25]:
pokemon['Generation'].unique()

array([1, 2, 3, 4, 5, 6])

In [31]:
pokemon.loc[(pokemon['Type 1'] == 'Grass') & (pokemon['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,300
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,400
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False,280
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,515
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,294
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

Nivel 4:
1. Crea una gráfica de barras que muestre la cantidad de Pokémon de cada 'Type 1'.
2. Crea un diagrama de dispersión que muestre la relación entre las columnas 'Attack' y 'Defense', utilizando los colores para distinguir entre los diferentes 'Type 1'.
3. Muestra los Pokémon cuyo 'Type 1' es igual a 'Water' y cuyo 'Type 2' es igual a 'Ground', y crea un gráfico de dispersión que muestre la relación entre las columnas 'Sp. Atk' y 'Sp. Def', utilizando el tamaño de los puntos para mostrar la columna 'Total'.
4. Muestra los Pokémon cuyo 'Type 1' es igual a 'Bug' y cuyo 'Type 2' es igual a 'Poison', y crea un gráfico de línea que muestre la evolución de la columna 'Total' a lo largo de los diferentes 'Generation'.
5. Crea un histograma que muestre la distribución de los valores en la columna 'Total'.
Hazme saber cuando hayas completado estos ejercicios y te daré los del nivel 5.